<h1>Ajouter une intervention</h1>

<form method="post">
    {% csrf_token %}

    <label>Titre :</label>
    <input type="text" name="titre" required>

    <br><br>

    <label>Description :</label>
    <textarea name="description" required></textarea>

    <br><br>

    <label>Date :</label>
    <input type="date" name="date" required>

    <br><br>

    <label>Dossier :</label>
    <select name="dossier" required>
        {% for d in dossiers %}
            <option value="{{ d.id }}">{{ d.nom }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Enregistrer</button>
</form>