<h1>Liste des rendez-vous</h1>

<table border="1">
    <thead>
        <tr>
            <th>Client</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Motif</th>
        </tr>
    </thead>

    <tbody>
        {% for rdv in rendezvous %}
        <tr>
            <td>{{ rdv.client }}</td>
            <td>{{ rdv.date }}</td>
            <td>{{ rdv.heure }}</td>
            <td>{{ rdv.motif }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Aucun rendez-vous</td>
        </tr>
        {% endfor %}
    </tbody>
</table>